<template name="modalDeleteTemp">

    <div id="modalDelete" class="modal">
        <div class="modal-content">
            <h5>¿Desea borrar este producto?
    <span class="right cerrar-modal"><a href="#"><i class="mdi-navigation-close"></i></a></span>
    </h5>
        </div>
        <div class="modal-footer">
            <a href="#!" class="focus-init-modal modal-action modal-close waves-effect btn btn-desagree">Desagree</a>
            <a id="modal-boton-borrar" href="#!" class="modal-action modal-close waves-effect btn btn-agree">Agree</a>
        </div>

    </div>

</template>
