<template name="login">

<!-- Main -->
<main class="main-ini">
<div  class="container">
<div class="fadeIn">
<!-- Bloque para iniciar sesión -->

<div class="row">

  <div class="col s12">
      <p class="titulo-seccion">Inicio de sesión</p>
  </div>

  <form class="col s12 form-login">
    <div class="row">
      <div class="input-field col s12">
        <input required id="username" type="text">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input required id="password" type="password">
        <label for="password">Password</label>
      </div>
    </div>

    <button class="accion-hover waves-effect waves-light btn">Iniciar sesión<i class="mdi-content-send right"></i></button>

  </form>
</div>

</div>
</div>
</main>

</template>
