<template name="footer">

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5><a class=" white-text" href="https://github.com/nacholozano/youwareDoc/blob/master/README.md" title='Documento con las funcionalidades presentes y futuras'>Youware`s Docs <i class="i-footer mdi-av-my-library-books"></i> </a></h5>
                    <h5><a class=" white-text" href="https://github.com/nacholozano" title="Enlace al Github del autor">Github del autor <i class="i-footer fa fa-github"></i></a></h5>
                    <h5>
                        <a class=" white-text" href="webMap" title="Mapa web del sitio">Mapa Web <i class="i-footer fa fa-sitemap"></i></a>
                    </h5>
                </div>
                <!--<div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class=" grey-text text-lighten-3" href="#!">Link 1</a>
                        </li>
                        <li><a class=" grey-text text-lighten-3" href="#!">Link 2</a>
                        </li>
                        <li><a class=" grey-text text-lighten-3" href="#!">Link 3</a>
                        </li>
                        <li><a class=" grey-text text-lighten-3" href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>-->
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2015 Copyright Text
                <!--<a class=" grey-text text-lighten-4 right" href="#!">More Links</a>-->
            </div>
        </div>
    </footer>

</template>
