/* ------------------------------------- FADE IN */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation: fadeIn 0.88s infinite;
    -moz-animation: fadeIn 0.88s infinite;
    -o-animation: fadeIn 0.88s infinite;
    animation: fadeIn 0.88s infinite;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
/* --------------------------------------- LEFT-RIGHT */

@-webkit-keyframes leftRight {
    from {
        margin-left: -2500px;
    }
    to {
        margin-left: 0;
    }
}

@-moz-keyframes leftRight {
    from {
        margin-left: -2500px;
    }
    to {
        margin-left: 0;
    }
}

@-o-keyframes leftRight {
    from {
        margin-left: -2500px;
    }
    to {
        margin-left: 0;
    }
}

@keyframes leftRight {
    from {
        margin-left: -2500px;
    }
    to {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    @-webkit-keyframes leftRight {
        from {
            margin-left: -2500px;
        }
        to {
            margin-left: -6%;
        }
    }
    @-moz-keyframes leftRight {
        from {
            margin-left: -2500px;
        }
        to {
            margin-left: -6%;
        }
    }
    @-o-keyframes leftRight {
        from {
            margin-left: -2500px;
        }
        to {
            margin-left: -6%;
        }
    }
    @keyframes leftRight {
        from {
            margin-left: -2500px;
        }
        to {
            margin-left: -6%;
        }
    }
}

.leftRight {
    -webkit-animation: leftRight 0.65s infinite;
    -moz-animation: leftRight 0.65s infinite;
    -o-animation: leftRight 0.65s infinite;
    animation: leftRight 0.65s infinite;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
