<template name="modalAceptarConf">

<div id="modalAceptarConf" class="modal">
        <div class="modal-content">
            <h5>
            ¿Quieres añadirlo al carrito?
            <span class="right cerrar-modal"><a href="#"><i class="mdi-navigation-close"></i></a></span>
            </h5>

            <div class="row">
                <div class="col s12">

                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a id="modal-boton-aceptar-conf" href="#!" class="modal-action waves-effect btn btn-agree">Agree</a>
        </div>

    </div>

</template>
