<template name="pc">


    <div class="drawPlacaBase" title="Placa base">

        <div class="bloque-1">

            <div class="drawPCI" title="Ranura PCI"></div>
            <div class="drawPCI" title="Ranura PCI"></div>
            <div class="drawPCIexp" title="Ranura PCI Express"></div>

        </div>

        <div class="bloque-2">

            <div class="drawConectores"></div>

            <div class="drawBordeZocalo" title="Zócalo para el procesador">
                <div class="drawZocalo" title="Zócalo para el procesador">
                    <div class="drawProcesador">

                        <img class='procesor-fan' src="/build_pc/procesor_fan.svg" alt="" title="Procesador">

                    </div>
                </div>
            </div>

        </div>

        <div class="bloque-3">

            <div class="drawBloqueSata">
                <div class="drawSata valign-wrapper" title='Conector sata para discos duros'> <div class="drawRelleno valign"></div> </div>
                <div class="drawSata valign-wrapper" title='Conector sata para discos duros'> <div class="drawRelleno valign"></div> </div>
                <div class="drawSata valign-wrapper" title='Conector sata para discos duros'> <div class="drawRelleno valign"></div> </div>
            </div>

        </div>

        <div class="bloque-4">

            <div class="drawFuenteConector" title="Conector para la fuente">

                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>
                <div class="drawCirculo"></div>

            </div>
        </div>

    </div>


</template>
