<template name="signUp">

<!-- Main -->
<main class="main-ini">
<div  class="container">
<div class="fadeIn">

<!-- Bloque para registrarse -->

<div class="row">

  <div class="col s12">
      <p class="titulo-seccion">Registro</p>
  </div>

  <form class="col s12 form-signup">
    <div class="row">
      <div class="input-field col s12">
        <input required id="username" type="text">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input required id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input required id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>

    <button class="accion-hover waves-effect waves-light btn">Registrarse<i class="mdi-content-send right"></i></button>

  </form>
</div>

</div>
</div>
</main>

</template>
